[user]
	name = zloopk09
	email = zloopk09@gmail.com
[color]
	diff = auto
	status = auto
	branch = auto
	ui = true
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[color "grep"]
	filename = magenta
	linenumber = green
	match = bold red
[pager]
    diff = diff-so-fancy | less --tabs=1,5 -RFX
    show = diff-so-fancy | less --tabs=1,5 -RFX
[core]
    autocrlf = input
    safecrlf = warn
    # attributesfile = ~/.gitattributes  # 多文件类型项目可以根据后缀名提交crlf的格式
    editor = vim
    precomposeunicode = true # Mac专用选项，开启以便文件名兼容其他系统
    whitespace = trailing-space,space-before-tab # 默认设置
	excludesfile =  ~/.global_gitignore
    pager = diff-so-fancy | less --tabs=4 -RFX
    quotepath = false
[submodule]
	fetchJobs = 4 # 跟clone通用
[apply]
    whitespace = nowarn
[grep]
	extendRegexp = true
	lineNumber = true
[commit]
	template = ~/.git_commit_template.txt
[push]
	default = simple
[pull]
	rebase = true # 强制开启rebase
[merge]
	ff = false
[merge]
	tool = diffmerge
[diff]
	tool = diffmerge
    renames = copies
[difftool "diffmerge"]	
	cmd = 'diffmerge' "$LOCAL" "$REMOTE" >& /dev/null
[mergetool "diffmerge"] 
	cmd = 'diffmerge' "$BASE" "$LOCAL" "$REMOTE" -o "$MERGED"
# see https://github.com/SixArm/sixarm_git_gitconfig/blob/master/gitconfig.d/alias.txt
[alias]
    a = add
    br = branch -v
    c = commit -v
    ca = commit -a -v
    cm = commit -m
    cmu = commit -m 'update'
    cam = commit -a -m
    d = diff
    dc = diff --cached
    f = fetch --prune
    g = grep
    l = log
    cf = config
    re = remote
    mr = merge
    mrn = merge --no-ff
    mrnn = merge --no-commit --no-ff
    co = checkout
    cb = checkout -b
    pl = pull --prune
    plr = pull --rebase
    ph = push
    ss = status --short --branch
    st = status
    cl = clone
    cher = cherry-pick
    rb = rebase
    rbc = rebase --continue
    rvnc = revert --no-commit
    unadd = reset HEAD
    uncommit = reset --soft HEAD^
    undo = reset --hard
    sb = submodule
    str = subtree
    sbu = submodule update --init --recursive
    lgs = log --graph --topo-order --abbrev-commit --date=short --decorate --all --boundary --pretty=format:'%Cgreen%ad %Cred%h%Creset -%C(yellow)%d%Creset %s %Cblue[%cn]%Creset'
    lgl = log --all --graph --decorate --stat
    # https://stackoverflow.com/questions/5188320/how-can-i-get-a-list-of-git-branches-ordered-by-most-recent-commit
    # 显示本地分支最后的提交记录
    lastest = !git for-each-ref --count=30 --sort=-committerdate refs/heads/ --format='%(refname:short)'
    # via http://blog.apiaxle.com/post/handy-git-tips-to-stop-you-getting-fired/
    # 快速用stash保存一份snapshot修改
    snapshot = !git stash save "snapshot: $(date)" && git stash apply "stash@{0}"
    snapshots = !git stash list --grep snapshot
    alias = !git config --get-regexp 'alias.*' | colrm 1 6 | sed 's/[ ]/ = /'
# 放在最后 覆盖之前的
[includeIf "gitdir:~/mrepo/github/"]
    path = ~/mrepo/github/.gitconfig
# 私有配置文件
[include]
    path = ~/.gitconfig.local
